html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'ABeeZee', sans-serif;
}

.main-color-text {
  color: #FEC576;
}

nav {
  height: 60px;
}
 
nav .sidenav-trigger i {
    font-size: 40px;
    padding: 0 5px;
}

nav a, nav ul li a, brand-logo {
  color: #4c4c4c;
}

.btn-cta {
  background-color: #FEC576;
  padding: 0 40px;
}

.btn-cta:hover {
  background-color: #FFD5CD;
}

.brand-logo img {
  max-height: 60px;
}

.btn-cta {
  background-color: #FEC576, 100% !important;
}

#hero-section {
  height: 500px;
  text-align: center;
  padding-bottom: 100px;
}

#hero-section button {
  margin: 10px 0;
}

.hero-name {
  font-family: 'Quicksand', sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  padding: 0 !important;
}


.hero-text-title {
  padding-top: 100px;
  margin-bottom: -40px;
}

.hero-text {
  padding-bottom: 40px;
}


.btn-secondary {
  background-color: transparent;
  border: 1px solid #000;
  color: black;
  padding: 0 50px;
}

.btn-secondary:hover, #project-section button:hover {
  color: #000;
  border: 1px solid #000;
  background-color: #EAF6EC;
  transition: .2s ease-in-out; 
  transition-delay: .2s;
}

#skills-section, #project-section {
  padding-top: 60px;
  text-align: center;
}

#skills-section img {
  width: 140px;
}

#skills-section h3, #project-section h3 {
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.01em;
  text-align: center;
}

#skills-section p, #project-section p {
  padding-bottom: 40px;
}

.skills-box {
  padding: 40px;
}

#skills-section h6 {
  padding-bottom: 40px;
}

#project-section {
  background: linear-gradient(120deg, #fdfbfb 100%, #ebedee 0%);
  padding-bottom: 60px;
}

#project-section .container {
  text-align: left;
}

#project-section h5 {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}

#project-section button {
  background-color: transparent;
  border: 1px solid #FEC576;
}


footer {
  padding: 70px 0;
  background: linear-gradient(0deg, #dfe9f3 0%, #ffffff 100%);
}

footer h4 {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

footer p {
  padding-bottom: 40px;
}

footer button {
  padding: 0 60px !important;
}

.social-media {
  margin-top: 40px;
}

footer div:nth-child(2) {
  padding-top: 60px;
}

.item-1,
.item-2, 
.item-3, 
.item-4 {
  position: absolute;
  z-index: -1;
}



.item-1 {
  top: 40%;
  left: 80%;
}

.item-2 {
  top: 10%;
  left: 20%;
}

.item-3 {
  top: 60%;
  left: 70%;
}

.item-4 {
  top: 70%;
  left: 10%;
}

.rotate-center {
	-webkit-animation: rotate-center 10s ease-in-out infinite reverse both;
	        animation: rotate-center 10s ease-in-out infinite reverse both;
}

.rotate-center-slow {
	-webkit-animation: rotate-center 20s ease-in-out 3s infinite alternate-reverse both;
	        animation: rotate-center 20s ease-in-out 3s infinite alternate-reverse both;
}

.rotate-scale-up {
	-webkit-animation: rotate-scale-up 10s ease-in-out infinite alternate both;
	        animation: rotate-scale-up 10s ease-in-out infinite alternate both;
}

.ping {
	-webkit-animation: ping 5s ease-in-out 2s infinite alternate-reverse both;
	        animation: ping 5s ease-in-out 2s infinite alternate-reverse both;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px; 
  right: 30px;
  z-index: 99;
  background-color: red; 
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px; 
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}




@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-center-slow {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-center-slow {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}


@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}



@media (min-width: 767.98px) { 
  #hero-section button {
    margin: 0 10px;
  }

  #hero-section .btn-cta {
    padding: 0 60px;
  }
 }

@media (min-width: 991.98px) { 
  footer div:nth-child(2) {
    text-align: right;
  }
}

@media (min-width: 1199.98px) { 
  #project-section .card-content {
    max-height: 140px;
  }
}


